.marker-svg {
  width: 26px;
  height: 42px;
  color: #dd0d8d;
     /* controls SVG fill */
}

.marker-svg:hover {
  transform: scale(1.05) translateY(-2px);
     /* controls SVG fill */
}

.custom-cluster {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
  /* Initial State */
  border: 3px solid rgb(31, 16, 16);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  background-clip: padding-box; /* Prevents background color from bleeding under border */
  
  /* The Secret Sauce: Smooth Transitions */

  cursor: pointer;
  z-index: 500;
}

/* Remove the space before :hover so it applies to the div itself */
.custom-cluster:hover {
  border-color: rgb(32, 58, 65);
  
  /* Lift the icon and grow it slightly */
  transform: scale(1) translateY(-2px);
  
  /* Add a glow that matches the new border color */
  box-shadow: 0 0 15px rgba(30, 147, 177, 0.3), 
              0 4px 10px rgba(0,0,0,0.1);
  
  /* Ensure the hovered cluster stays on top of others */
  z-index: 1000 !important;
}