/* about.css */
/* .about-page {
  width: 100vw;
  min-height: 100vh; 
  background-image: url('/images/pattern.svg'); 
  background-repeat: repeat; 
  background-size: 640px 320px; 
  background-position: top left;
} */

.about-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url('/images/pattern2.svg');
  background-repeat: repeat;
}

/* .about-page {
  width: 100vw;
  min-height: 100vh;

  /* multi-layer gradient pattern */
/* background:
        linear-gradient(135deg, #430830 25%, transparent 25%) -26px 0/ 52px 52px,
        linear-gradient(225deg, rgba(67, 8, 48, 0.5) 25%, transparent 25%) -26px 0/
        52px 52px,
        linear-gradient(315deg, #430830 25%, transparent 25%) 0 0/ 52px 52px,
        linear-gradient(45deg, rgba(67, 8, 48, 0.5) 25%, #97a6df 25%) 0 0/ 52px 52px;
  background-color: #97a6df;

  opacity: 20%; */
/* } */
