/* custom font classes */

@import 'tailwindcss';
@import 'tw-animate-css';

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400; /* or 700 if you want bold */
  font-style: normal;
}

/* WebKit (Chrome, Edge, Safari) */
.bg-white::-webkit-scrollbar {
  width: 6px; /* thin */
}

.bg-white::-webkit-scrollbar-track {
  background: transparent;
}

.bg-white::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 8px;
}

.bg-white::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Firefox */
.bg-white {
  scrollbar-width: thin;
  scrollbar-color: #bcbcbc transparent;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Text semantic roles */
  --color-tone-0: var(--tone-0);
  --color-tone-1: var(--tone-1);
  --color-tone-2: var(--tone-2);
  --color-tone-3: var(--tone-3);
  --color-tone-4: var(--tone-4);
  --color-tone-5: var(--tone-5);
  --color-tone-6: var(--tone-6);
  --color-primary-1: var(--primary-1);
  --color-secondary-1: var(--secondary-1);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

.leaflet-container {
  z-index: 1 !important;
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.3211 0 0);
  --chart-2: oklch(0.4495 0 0);
  --chart-3: oklch(0.5693 0 0);
  --chart-4: oklch(0.683 0 0);
  --chart-5: oklch(0.7921 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  /* -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# */
  --tone-0: oklch(98.5% 0.001 106.423); /* highest / lightest */
  --tone-1: oklch(92.3% 0.003 48.717);
  --tone-2: oklch(70.9% 0.01 56.259);
  --tone-3: oklch(44.4% 0.011 73.639);
  --tone-4: oklch(26.8% 0.007 34.298);
  --tone-5: oklch(21% 0.006 285.885);
  --tone-6: oklch(14.7% 0.004 49.25); /* lowest / darkest */
  --primary-1: oklch(0.76 0.2 279);
  --secondary-1: oklch(0.76 0.2 99);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(38.596% 0.05288 256.134);
}

.dark {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(59.039% 0.23389 27.262);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.3211 0 0);
  --chart-2: oklch(0.4495 0 0);
  --chart-3: oklch(0.5693 0 0);
  --chart-4: oklch(0.683 0 0);
  --chart-5: oklch(0.7921 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  /* -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# */
  --tone-0: oklch(98.5% 0.001 106.423); /* highest / lightest */
  --tone-1: oklch(92.3% 0.003 48.717);
  --tone-2: oklch(70.9% 0.01 56.259);
  --tone-3: oklch(44.4% 0.011 73.639);
  --tone-4: oklch(26.8% 0.007 34.298);
  --tone-5: oklch(21% 0.006 285.885);
  --tone-6: oklch(14.7% 0.004 49.25); /* lowest / darkest */
  --primary-1: oklch(0.76 0.2 279);
  --secondary-1: oklch(0.76 0.2 99);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(38.596% 0.05288 256.134);
}

.ocean {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.9521 0 0);
  --chart-2: oklch(0.8576 0 0);
  --chart-3: oklch(0.7572 0 0);
  --chart-4: oklch(0.6534 0 0);
  --chart-5: oklch(0.5452 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# */
  /* Backgrounds */
  --bg-dark: oklch(0.1 0 250);
  --bg: oklch(0.15 0 250);
  --bg-light: oklch(0.2 0 250);
  --text: oklch(0.96 0 250);
  --text-muted: oklch(0.76 0 250);
  --highlight: oklch(0.5 0 250);
  --border: oklch(0.4 0 250);
  --border-muted: oklch(0.3 0 250);
  --primary: oklch(0.76 0.1 250);
  --secondary: oklch(0.76 0.1 70);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

.forest {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.9521 0 0);
  --chart-2: oklch(0.8576 0 0);
  --chart-3: oklch(0.7572 0 0);
  --chart-4: oklch(0.6534 0 0);
  --chart-5: oklch(0.5452 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
  -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# */
  /* Backgrounds */
  --bg-primary: oklch(0.15 0.04 130); /* deep green */
  --bg-secondary: oklch(0.25 0.05 120); /* medium green */
  --bg-tertiary: oklch(0.35 0.06 110);

  /* Foregrounds / elements */
  --fg-primary: oklch(44.953% 0.00005 271.152); /* strong text / headings */
  --fg-secondary: oklch(33.289% 0.00004 271.152); /* secondary text */
  --fg-tertiary: oklch(28.502% 0.00003 271.152); /* highlights on dark bg */

  /* Text semantic roles */
  --text-primary: oklch(100% 0.00011 271.152); /* questions, headings */
  --text-secondary: oklch(21.779% 0.00002 271.152);
  --text-tertiary: oklch(66.655% 0.00008 271.152); /* answers, paragraphs */

  /* Hover states */
  --text-hover-primary: oklch(48.839% 0.07212 201.483);
  --text-hover-secondary: oklch(82.355% 0.14558 100.304);

  --element-hover-primary: oklch(42% 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes glow-ring-strong {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.3);
  }
  50% {
    box-shadow: 0 0 15px 6px rgba(70, 104, 160, 0.35);
  }
}

.animate-glow-ring-strong {
  animation: glow-ring-strong 2s ease-in-out infinite;
}

.font-space {
  font-family: 'Space Grotesk', sans-serif;
}
/* Para Chrome, Edge, Safari */
.card-container::-webkit-scrollbar {
  width: 120px; /* grosor */
}

.card-container::-webkit-scrollbar-track {
  background: transparent; /* fondo del track */
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* color del thumb */
  border-radius: 3px; /* esquinas redondeadas */
}

/* Para Firefox */
.card-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.newspaper {
  background: #b1b1b1;
  color: #000000;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.04) 3px,
    transparent 1px
  );
  background-size: 100% 5px;
}
