name: Supabase Images Storage Backup

on:
  workflow_dispatch: # allows manual trigger
  schedule:
    - cron: '0 2 * * *' # every night at 2 AM

jobs:
  backup:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1' # change if needed
      SUPABASE_PROJECT_REF: 'oacuekchmzilyimjasdh'
      BUCKET_NAME: 'jamspots_imageBucket'
      S3_DEST: 's3://jamspots-pg-dump/supabase-ImageStorage-backups'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Supabase CLI
        run: |
          curl -fL -o supabase.tar.gz https://github.com/supabase/cli/releases/download/v2.72.5/supabase_linux_amd64.tar.gz
          tar -xzf supabase.tar.gz
          sudo mv supabase /usr/local/bin/

      - name: Copy Supabase bucket locally
        run: |
          mkdir supabase
          cd supabase
          supabase login --token "$SUPABASE_ACCESS_TOKEN"
          supabase link --project-ref "$SUPABASE_PROJECT_REF"
          supabase storage cp -r ss:///$BUCKET_NAME images --experimental

      - name: Upload to S3
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          aws s3 cp ./supabase/images $S3_DEST/$TIMESTAMP --recursive

      - name: Keep only last 3 backups
        run: |
          # Get all files, filter out empty lines/folders
          all_files=$(aws s3 ls $S3_DEST/ | awk '{print $4}' | grep .)
          
          echo "Found files:"
          echo "$all_files"
          
          # Identify files to delete (everything except the last 3)
          files_to_delete=$(echo "$all_files" | sort | head -n -3)
      
          if [ -z "$files_to_delete" ]; then
            echo "---"
            echo "Count is 3 or less. Keeping all files."
          else
            echo "---"
            echo "The following files will be deleted:"
            echo "$files_to_delete"
            
            for file in $files_to_delete; do
              aws s3 rm "$S3_DEST/$file"
            done
          fi
