name: Supabase Backup Every 6 Minutes

on:
  schedule:
    - cron: '0 */3 * * *'  # at minute 0, every 3 hours
  workflow_dispatch:       # manual trigger

jobs:
  backup:
    runs-on: ubuntu 22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up PostgreSQL 17
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '17'

      - name: Install AWS CLI
        run: sudo apt-get update && sudo apt-get install -y gzip awscli

      - name: Check AWS CLI
        run: aws --version
  

      - name: Dump Supabase DB
        env:
          PGPASSWORD: ${{ secrets.PGPASSWORD }}
        run: |
          DATE=$(date +%F-%H%M%S)
          echo "Dumping DB..."
          pg_dump "postgresql://postgres.oacuekchmzilyimjasdh@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require" --no-owner --no-acl | gzip > dump_$DATE.sql.gz

      - name: Upload dump to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "eu-north-1"
        run: |
          DATE=$(date +%F-%H%M%S)
          echo "Uploading dump to S3..."
          aws s3 cp dump_$DATE.sql.gz s3://jamspots-pg-dump/backups/

      - name: Cleanup local dump
        run: rm dump_*.sql.gz

      - name: Remove old backups from S3 (keep 15 latest)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "eu-north-1"
        run: |
          echo "Deleting old backups..."
          aws s3 ls s3://jamspots-pg-dump/backups/ \
            | awk '{print $4}' \
            | grep '^dump_' \
            | sort \
            | head -n -15 \
            | while read f; do
                [ -n "$f" ] && aws s3 rm s3://jamspots-pg-dump/backups/$f
              done
